extends layouts/main-layout.pug

block variables
  -
    const title = "Алюминиевые двери на заказ"
    const desc = "Производство алюминиевых двери на заказ в Санкт-Петербурге"
    const keywords = ""

block content
  include ./views/index-page-template

block modals
  //- include ./modals/offer-modal

  //- include ./modals/law-modal
  //- include ./modals/success-modal
  //- include ./modals/error-modal
